@import url(http://weloveiconfonts.com/api/?family=maki);

/* maki */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
}

div {
  padding: 5px;
}

/* MAIN WRAPPER */

#wrapper {
  font-family: sans-serif;
  margin: 0 auto;
  width: 400px;

}

/* GAME */

#game_wrapper {
  display: grid;
  /*grid-template-rows: 30% 10% 60%;*/
  grid-template-columns: 1fr 1fr;
}

#game_wrapper.hide {
  display: none;
}

#game_title {
  text-align: center;
  grid-column: 1 / -1;
  font-size: 1.5em;
}

#moves {
  grid-row: 2;
  grid-column: 1 / 2;
  text-align: center;
  font-size: .75em;
}

#reset_cont {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  font-size: .75em;
}

#reset {
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  background: indigo;
  border-radius: 5px;
}

#game_grid {
  grid-column: 1 / -1;
}

table {
  margin: auto;
  height: 400px;
  width: 400px;
  border-spacing: calc((400px * .2) / 5);
  border-collapse: false;
  border: 1px solid black;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  table-layout: fixed;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
}

tr {
  height: 20%;
}

/* Tile Hidden by default until clicked */
td.hidden {
  background-color: #549dbc;
}

td.hidden div {
  display: none;
}

/* Tile when flipped over */
td {
  border-radius: 5px;
  background-color: #3ba5a2;
  border: 1px solid black;
  justify-content: center;
  box-shadow: 5px 5px 5px #888888;
}

div.logo {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2em;
  text-align: center;
}

div.logo {
  color: black;
}

/* Tile When Matched */
td.matched {
  background-color: grey;
}

td.matched div {
  color: red;
}

/* List Styling */

ul {
  list-style-type: none;
}

li {
  display: list-item;
}

/* Stars full by default */

ul#star_cont li.full {
  color: blue;
}

/* Stars when empty */
ul#star_cont li {
  position: relative;
  float: left;
  font-size: 1em;
  padding: .2em;
  color: black;
}

/*
*
* Win Screen
*
*/

#win_screen.hide {
  display: none;
}

#win_screen {
  margin-top: 100px;
  text-align: center;
}

#win_msg {
  font-size: 1.5em;
  font-weight: bold;
}

#play_again {
  font-size: 1.25em;
  background-color: red;
  color: white;
  border-radius: 5px;
}

#win_moves, #win_stars, #win_time {
  font-weight: bold;
}
